<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>19/02/17 09:21:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_CreateLead.lead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC003_CreateLead@20322d26]">lead</td> 
  <td>main@503195940</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/17 09:22:05</td>   <td>18616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_CreateLead.lead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.TC003_CreateLead@20322d26]">lead</td> 
  <td>main@503195940</td>   <td></td> </tr>
</table>
