<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed9f0">  <td>19/02/25 22:39:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@31610302]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1614656504</td>   <td></td> </tr>
<tr bgcolor="aed9f0">  <td>19/02/25 22:39:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@6ddf90b0]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@1291336865</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/02/25 22:39:40</td>   <td>34280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login1()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@6ddf90b0]">login1</td> 
  <td>TestNG-tests-2@1291336865</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/02/25 22:39:44</td>   <td>38579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.login1()[pri:0, instance:bl.framework.testcases.TC001_LoginAndLogout@31610302]">login1</td> 
  <td>TestNG-tests-1@1614656504</td>   <td></td> </tr>
</table>
